#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_build:
	emacs -Q -L . --batch -l doc/yas-doc-helper.el -f yas--generate-html-batch
